<div class="flex flex-col justify-between items-start gap-4 size-full p-4">
  <div class="flex justify-between items-center w-full">
    <h2 class="text-xl font-bold text-gray-800">Server und Geräte</h2>

    <!-- Button group -->
    <div class="flex gap-2">
      @let noServerConnected = dataService.noServerConnected();
      @let noServerReachable = dataService.noServerReachable();
      @let noDeviceSelected = dataService.noDeviceSelected();
      <button
        class="bg-omni-red-600 rounded-md px-4 text-slate-200 py-2 w-fit font-bold flex items-center justify-center gap-2 text-sm shadow-lg"
        (click)="addNewDeviceServer()">
        Server hinzufügen
      </button>

      <button
        class="rounded-md px-4 text-slate-200 py-2 w-fit font-bold flex items-center justify-center gap-2 text-sm shadow-lg"
        [disabled]="noServerConnected"
        [ngClass]="{
          'bg-gray-500': noServerConnected || noDeviceSelected,
          'bg-omni-red-500': !noServerConnected,
        }"
        (click)="dataService.disconnectAllDevicesOfAllServers()">
        Alle Verbindungen beenden
        <span class="material-symbols-outlined text-3xl"> stop_circle </span>
      </button>

      <button
        class="rounded-md px-4 text-slate-200 py-2 w-fit font-bold flex items-center justify-center gap-2 text-sm shadow-lg"
        (click)="dataService.connectAllDevicesOfAllServers()"
        [disabled]="noServerReachable || noDeviceSelected"
        [ngClass]="{
          'bg-gray-500': noServerReachable || noDeviceSelected,
          'bg-green-500': !noServerReachable && !noDeviceSelected,
        }">
        Alle Geräte verbinden
        <span class="material-symbols-outlined text-3xl"> play_circle </span>
      </button>

      <button
        class="rounded-md px-4 text-slate-200 py-2 w-fit font-bold flex items-center justify-center gap-2 text-sm shadow-lg"
        (click)="dataService.connectCurrentChoosenDevicesOfAllServers()"
        [disabled]="noServerReachable || noDeviceSelected"
        [ngClass]="{
          'bg-gray-500': noServerReachable || noDeviceSelected,
          'bg-green-500': !noServerReachable && !noDeviceSelected,
        }">
        Ausgewählte Geräte Verbinden
        <span class="material-symbols-outlined text-3xl"> play_circle </span>
      </button>
    </div>
  </div>

  <div
    class="grid gap-4 w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <!-- Server List -->
    @for (server of dataService.servers() | keyvalue; track server.key) {
      @let serverURL = server.key;
      @let serverObj = server.value;
      <!-- ServerCard -->
      <div
        class="bg-omni-schwarz-700 shadow-md rounded-lg p-4 relative min-h-[25vh]">
        @if (!serverObj.serverIsReachable()) {
          <div
            class="absolute inset-0 w-full h-full bg-gray-600/60 flex items-center justify-center rounded-lg">
            <span class="material-symbols-outlined text-white text-4xl mr-2"
              >cloud_off</span
            >
            <span class="text-white text-lg">Server unerreichbar</span>
          </div>
        }
        <div class="flex items-center justify-between px-4 py-s">
          <h3
            class="text-lg font-semibold text-slate-200 disabled:bg-gray-500/50">
            {{ serverURL }}
          </h3>
          <button
            [ngClass]="{
              'text-green-500':
                !serverObj.isConnected() && serverObj.numSelectedDevices() > 0,
              'text-red-500': serverObj.isConnected(),
              'text-gray-500':
                !serverObj.isConnected() &&
                serverObj.numSelectedDevices() === 0,
            }"
            class="px-4 py-2 rounded-md flex items-center"
            (click)="
              serverObj.isConnected()
                ? serverObj.disconnect()
                : serverObj.connect()
            "
            [disabled]="
              !serverObj.isConnected() && serverObj.numSelectedDevices() === 0
            ">
            <span class="material-symbols-outlined text-4xl">
              {{ serverObj.isConnected() ? 'stop_circle' : 'play_circle' }}
            </span>
          </button>
        </div>

        <!-- Device List with Checkboxes -->
        <div class="mt-2">
          <ul class="flex flex-col gap-2 p-4 justify-start items-start w-full">
            @for (device of serverObj.devices(); track device.UUID) {
              <li class="flex items-center justify-start gap-4 w-full p-2">
                <input
                  type="checkbox"
                  [checked]="serverObj.isDeviceSelected()(device.UUID)"
                  (change)="serverObj.toggleSelectStateOfDevice(device.UUID)"
                  [disabled]="serverObj.isConnected()"
                  class="h-5 w-5 border-gray-300 rounded" />
                <label
                  class="ml-2 font-bold"
                  [style.color]="
                    dataService.curveColors()[device.UUID] || '#000000'
                  "
                  [style.text-shadow]="'2px 2px 2px black'">
                  {{ device.UUID }}
                </label>
              </li>
            } @empty {
              <p class="text-gray-500">Keine Geräte gefunden</p>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>
