<div class="flex h-screen w-screen bg-gray-100 overflow-auto">
  <!-- Seitenmenü -->
  <aside class="h-full w-64 bg-omni-schwarz-700 text-white flex flex-col p-4  gap-8 rounded-r-lg">
    <img src="logo/OmnAIScope-logo-weiss.png"/>
    <app-device-selection #devices />
  </aside>

  <!-- Hauptinhalt -->
  <main class="flex-1 flex flex-col p-4 space-y-4">
    <!-- Steuerleiste oben -->
    <div
      class="flex justify-between items-center bg-white p-3 rounded shadow max-h-48"
    >
      <app-device-selection #devices2 />
    </div>

    <!-- Graph-Container -->
    <div
      class="flex-1 shrink bg-white shadow rounded p-4 flex justify-center items-center overflow-auto"
    >
      @let dataSet = devices.dataService.data() | keyvalue;
      @defer (when dataSet.length > 0; on idle) {
        <!-- Graph wird nur geladen, wenn Daten vorhanden sind -->
        <app-graph [dataSeries]="devices.dataService.data()"></app-graph>
      } @loading {
        <p class="text-gray-500">Warte auf Daten...</p>
      } @error {
        <p class="text-red-500">Fehler beim Laden der Daten.</p>
      }
    </div>
  </main>
</div>
