<div class="flex h-screen w-screen bg-gray-100 overflow-auto">
  <!-- Sidemenu -->
  <aside class="h-full w-64 bg-omni-schwarz-700 text-white flex flex-col p-4  gap-8 rounded-r-lg">
    <img src="logo/OmnAIScope-logo-weiss.png" alt="OmnAIScope Logo" />
    <app-device-selection #devices />
  </aside>

  <!-- Main content -->
  <main class="flex-1 flex flex-col p-4 gap-4">
    <!-- controlbar top  -->
    <!-- <div
      class="flex justify-between items-center bg-white p-3 rounded shadow max-h-48"
    >
      <app-device-selection #devices2 />
    </div> -->

    <!-- Graph-Container -->
    <div class="ui-card">
      @let dataSet = devices.dataService.limitedData() | keyvalue;
      @defer (when dataSet.length > 0; on idle) {
        <app-graph [dataSeries]="devices.dataService.limitedData()" [colors]="devices.dataService.curveColors()"></app-graph>
      } @loading {
        <p class="text-gray-500">Warte auf Daten...</p>
      } @error {
        <p class="text-red-500">Fehler beim Laden der Daten.</p>
      }
    </div>
  </main>
</div>
